#include "../include/Resources.h"

//RES_VERT_GLSL_PASSTHRU			GLSL	"..\\shaders\\passThru.vert"
RES_VERT_GLSL_FRESNEL			GLSL	"..\\shaders\\simpleFresnel.vert"
RES_FRAG_GLSL_FRESNEL			GLSL	"..\\shaders\\simpleFresnel.frag"
//RES_FRAG_GLSL_SPARKLE			GLSL	"..\\shaders\\sparkleParticle.frag"
RES_VERT_GLSL_SPARKLE_SPRITE	GLSL	"..\\shaders\\sparkleParticleSprite.vert"
RES_FRAG_GLSL_SPARKLE_SPRITE	GLSL	"..\\shaders\\sparkleParticleSprite.frag"
RES_TEXTURE_PARTICLE_GLOW		IMAGE	"..\\textures\\particle_texture_glow.png"